.slogan-title {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 24px;
}

.headline {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
}

.dialog-title-bold {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.dialog-title-regular {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.button-bold {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 16px;
}

.button-regular {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 16px;
}

.content-bold {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: auto;
}

.content-regular {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
}

.body-bold {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
}

.body-medium {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
}

.category-list {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: auto;
}

.btn-dialog {
  height: 46px;
  background-color: #448899;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-booking {
  height: 36px;
  background-color: #448899;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-navigation {
  height: 34px;
  padding: 10px;
  cursor: pointer;
}

html, body {
  position: relative;
  padding-top: 35px;
}

.navigation_container {
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #E8E8E8;
}
.navigation_container .navigation {
  width: 1200px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  white-space: nowrap;
}
.navigation_container .navigation .navigation_left {
  margin-left: 10px;
}
.navigation_container .navigation .navigation_left .navigation_left_text {
  color: #448899;
  text-decoration: none;
}
.navigation_container .navigation .navigation_right {
  display: flex;
  color: #666666;
  margin-right: 10px;
}
.navigation_container .navigation .navigation_right p {
  padding: 10px;
  cursor: pointer;
}
.navigation_container .navigation .navigation_right .signout_text {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 1;
}

.signup_text, .signin_text {
  cursor: pointer;
}

.signin_container.show, .signup_container.show {
  opacity: 1;
  top: 30%;
  z-index: 1;
}

.dialog_container {
  width: 340px;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 60px #AAAAAA;
  background-color: #FFFFFF;
  opacity: 0;
  transition: all 0.2s;
}
.dialog_container::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(-135deg, #337788, #66AABB);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dialog_container .close {
  width: 30px;
  position: absolute;
  top: 20px;
  left: 300px;
  cursor: pointer;
}
.dialog_container p {
  color: #666666;
}
.dialog_container .sign_form {
  margin-top: -10px;
  width: 310px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dialog_container .sign_form input {
  height: 15px;
  color: #757575;
  padding: 15px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}
.dialog_container .message {
  display: none;
}

@media (max-width: 1200px) {
  .navigation {
    width: 95% !important;
  }
}
html, body {
  margin: 0;
  padding: 0;
  padding-top: 35px;
}

.navigation_container {
  border: none;
}

.hero_section {
  background-image: url("/static/data/images/[orig] welcome image.png");
  background-size: cover;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F8F8F8;
  box-sizing: border-box;
}
.hero_section .hero_section_text {
  width: 1200px;
  padding: 10px;
}
.hero_section .hero_section_text .above_text {
  text-shadow: 0 0 30px #AABBCC;
}
.hero_section .hero_section_text .search_bar {
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px #AABBCC;
  border-radius: 5px;
  max-width: 460px;
  height: 46px;
  overflow: hidden;
}
.hero_section .hero_section_text .search_bar .search_input {
  padding: 15px;
  background-color: #FFFFFF;
  color: #757575;
  border: none;
  outline: none;
  flex: 1;
}
.hero_section .hero_section_text .search_bar .search_btn {
  background-color: #448899;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

.list_bar {
  width: 1200px;
  margin: 35px auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list_bar .mrt_list {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.list_bar .mrt_list .mrt_list_text {
  padding: 5px 15px;
  color: #666666;
  cursor: pointer;
}
.list_bar .mrt_list .mrt_list_text:hover {
  color: #000000;
}
.list_bar .arrow_left {
  background-image: url("/static/data/images/arrow left.png");
  width: 32px;
  height: 32px;
  background-size: cover;
  margin-left: 15px;
  cursor: pointer;
  flex: none;
}
.list_bar .arrow_left:hover {
  background-image: url("/static/data/images/Hovered(left).png");
}
.list_bar .arrow_right {
  background-image: url("/static/data/images/arrow right.png");
  width: 32px;
  height: 32px;
  background-size: cover;
  margin-right: 15px;
  cursor: pointer;
  flex: none;
}
.list_bar .arrow_right:hover {
  background-image: url("/static/data/images/Hovered(right).png");
}

.content {
  width: 1200px;
  margin: auto;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  box-sizing: border-box;
}
.content .attraction {
  width: 270px;
  height: 242px;
  border-radius: 5px;
  overflow: hidden;
  border: solid 1px #E8E8E8;
}
.content .attraction .attraction_top {
  height: 197px;
  position: relative;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.content .attraction .attraction_top .attraction_name {
  position: absolute;
  bottom: -16px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  white-space: nowrap;
}
.content .attraction .attraction_buttom {
  display: flex;
  justify-content: space-between;
  color: #757575;
}
.content .attraction .attraction_buttom .attraction_mrt {
  margin-left: 10px;
}
.content .attraction .attraction_buttom .attraction_category {
  margin-right: 10px;
}

.footer {
  width: 100%;
  height: 104px;
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  margin-top: 40px;
}

@media (max-width: 1200px) {
  .hero_section_text {
    margin: 0 10px;
  }
  .content {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .content .attraction {
    margin: auto;
  }
  .list_bar {
    width: 95%;
  }
}
@media (max-width: 950px) {
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .search_input {
    width: 180px;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=index.css.map */